a.normal_a {
  text-decoration: none;
  color: black;
}
a.normal_a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: orange;
}

li.active {
  color: orange !important;
  font-weight: bolder;
}

div.activity_main {
  /* height: 80vh; */
  /* border: 1px solid red; */
  margin-bottom: 1rem !important;

  div.container {
    // 麵包屑、搜尋框CSS
    div.bread_and_search {
      // flex-direction: column;
      margin-top: 15px;
      // gap: 1rem;
      // 搜尋框
      form.search {
        display: flex;
        align-items: center;
        justify-content: end;
        button {
          margin-left: 10px;
          width: 50px;
          height: auto;
          border: none;
          background-color: white;
          img {
            width: 100%;
            height: 100%;
            // margin-left: 20px;
            // font-size: 0;
          }
        }
      }
    }
    // 活動列表CSS
    div.activity_list {
      /* border: 1px solid blue; */
      margin-top: 1rem;
      div.card-body {
        p {
          color: gray;
          font-size: 12px;
        }
        p.restaurant-name {
          color: black;
          font-weight: bolder;
        }
      }
      span.total {
        margin-left: 55%;
      }
      div.btns {
        display: flex;
        align-items: center;
        justify-content: center;
        div.like {
          position: absolute;
          right: 1.5rem;
          padding: 0.5rem;
          border: 1px solid black;
          border-radius: 40%;
        }
        div.like :hover {
          background-color: orange;
          cursor: pointer;
        }
      }
      a.viewmore {
        padding-left: 92%;
      }
    }
    // 分隔線區塊
    div.seperate_line {
      margin-top: 10vh;
      border: 0.5px solid lightslategray;
    }

    // 分頁按鈕CSS
    div.pages-bar {
      margin-top: 20px;
      justify-content: center;
      div {
        border: 1px solid red;
        text-align: center;
      }
    }
  }
}

// 建立活動區塊CSS
div.activity_establish_container {
  display: flex;
  align-items: center;
  justify-content: center;
  div.activity_establish {
    margin: 10vh 0 !important;
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    background-color: lemonchiffon;
    border-radius: 10px;
    h3 {
      margin: 10vh 0 20vh 0;
      text-align: center;
    }
    button {
      padding: 15px 20px 15px 20px;
      border-radius: 15px;
    }
  }
}
